.hover_border:hover{
    -fx-border-color: #34e7e4e0;
    -fx-border-width: 0px 0px 0px 4px;
    -fx-background-color: #336e7b;
}

.hover_border2:hover{
    -fx-border-color: #34e7e4e0;
    -fx-border-width: 0px 0px 4px 0px;
    -fx-background-color: #336e7b;
}

.hover_border3:hover{
    -fx-background-color: #336e7b;
}

